.page.theme_light {
  --title-color: rgba(255, 194, 230, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-header-color: rgba(53, 52, 48, 1);
  --font: IBM Plex Mono;
  --background-image: url(../images/cover-image-light.png);
  --button-hover: rgba(50, 49, 45, 0.4);
  --button-focus: #353430;
  --section-header: rgba(53, 52, 48, 1);
  --visibility: hidden;
  --background-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: rgba(255, 194, 230, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --accent-header-color: rgba(53, 52, 48, 1);
    --font: IBM Plex Mono;
    --background-image: url(../images/cover-image-light.png);
    --button-hover: rgba(50, 49, 45, 0.4);
    --button-focus: #353430;
    --section-header: rgba(53, 52, 48, 1);
    --visibility: hidden;
    --background-color: #fff1f7;
    }
  }