/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-dark-color: #000028;
  --font: IBM Plex Mono;
  --background-image: url(../images/cover-image-dark.png);
  --button-hover: rgba(50, 49, 45, 0.4);
  --button-focus: rgba(255, 0, 112, 1);
  --section-header: #FF0070;
  --visibility: visible;
}